@use "sass:math";
@import "/src/scss/base/mixins.scss";

.pagination {
   &__container {
     
   }

   &__button {
      cursor: pointer;
      padding: toRem(10);
      &:hover {
         text-decoration: underline;
      }
      &._current {
         text-decoration: underline;
      }
   }

   &__list {
      display: flex;
      justify-content: space-between;
      max-width: toRem(400);
      margin: 0 auto;
      gap: toRem(10);
   } 
}
